<ng-container *ngIf="$pieces | async as pieces; else loading">
    <ng-container *ngIf="pieces.length > 0; else noPieces">
        <!--<mat-toolbar color="primary">-->
            <!--<button mat-icon-button-->
                    <!--[matMenuTriggerFor]="alignMenu"-->
                    <!--[matTooltip]="'Align'">-->
                <!--<mat-icon>format_align_left</mat-icon>-->
            <!--</button>-->
            <!--<button mat-icon-button-->
                    <!--[matMenuTriggerFor]="sortMenu"-->
                    <!--[matTooltip]="'Sort'">-->
                <!--<mat-icon>sort</mat-icon>-->
            <!--</button>-->
        <!--</mat-toolbar>-->
        <!--<mat-divider></mat-divider>-->
        <div class="graph-container">
            <div>
                <plotly-plot [data]="$data | async"
                             [layout]="layout"
                             [useResizeHandler]="true"></plotly-plot>
            </div>
        </div>
    </ng-container>
</ng-container>

<!--<mat-menu #alignMenu>-->
    <!--<button mat-menu-item>None</button>-->
    <!--<button mat-menu-item>Catch</button>-->
    <!--<button mat-menu-item>Peak</button>-->
    <!--<button mat-menu-item>Finish</button>-->
<!--</mat-menu>-->

<!--<mat-menu #sortMenu>-->
    <!--<button (click)="sort('total')" mat-menu-item>Total Angle</button>-->
    <!--<button (click)="sort('effective')" mat-menu-item>Effective Angle</button>-->
    <!--<button (click)="sort('catch')" mat-menu-item>Catch Angle</button>-->
    <!--<button (click)="sort('load')" mat-menu-item>Load Angle</button>-->
    <!--<button (click)="sort('peak')" mat-menu-item>Peak Angle</button>-->
    <!--<button (click)="sort('unload')" mat-menu-item>Unload Angle</button>-->
    <!--<button (click)="sort('finish')" mat-menu-item>Finish Angle</button>-->
<!--</mat-menu>-->

<ng-template #noPieces>
    <div class="no-pieces">
        <h4 mat-subheader>No data!</h4>
        <mat-icon svgIcon="shelves"></mat-icon>
        <h4 mat-subheader>Select some pieces to view angle plots here.</h4></div>
</ng-template>

<ng-template #loading>
    <div class="loading">
        <mat-progress-spinner
                color="accent"
                mode="indeterminate">
        </mat-progress-spinner>
        <h4 mat-subheader>Loading Force Curves</h4></div>
</ng-template>




