:host {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  max-height: 100%;

  section.list {
    flex: 0 0 auto;
    display: flex;
    overflow: hidden;
    flex-flow: column;

    mat-toolbar {
      flex: 0 0 auto;
    }

    mat-selection-list {
      overflow: auto;
      flex-flow: column;
    }
  }

  main {
    flex: 1 1 auto;
    overflow: hidden;

    app-metrics {
      width: 100%;
      height: 100%;
    }
  }
}
