@import "variables";
@import "~@angular/material/theming";

@include mat-core();
@include angular-material-theme(mat-light-theme($primaryPalette, $accentPalette));
@include angular-material-typography();

mat-icon {
  &[large] {
    height: 5rem;
    width: 5rem;
    font-size: 5rem;
  }

  &[massive] {
    height: 10rem;
    width: 10rem;
    font-size: 10rem;
  }
}
