@import '../../variables';

:host {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  app-metric-averages {
    height: 100%;
    width: 100%;
  }

  .loading, .no-pieces {
    justify-self: center;
    align-self: center;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    mat-icon[svgicon] {
      width: 8rem;
      height: 8rem;
    }

    h4 {
      font-variant: all-petite-caps;
    }
  }
}
