@import "~src/variables";
@import "~@angular/material/theming";

:host {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;

  mat-toolbar {
    flex: 0 0 auto;
  }

  mat-list {
    &.data-input {
      mat-list-item {
        height: auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  main {
    flex: 1 1 auto;

    mat-form-field {
      max-width: 100%;
    }

    .graph-container {
      padding: 1rem;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      plotly-plot {
        display: block;
        width: 100%;
        height: 100%;
      }

    }
  }

  .my-form-field {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;

    small {
      opacity: 0.5;
      font-size: 0.65rem;
    }
  }

  .loading {
    justify-self: center;
    align-self: center;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-variant: all-petite-caps;
    }
  }
}
