@import './variables';

$cell-horizontal-padding: 4px;
$icons-path: "~ag-grid-community/src/styles/ag-theme-material/icons/";

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss";

.ag-floating-top-viewport {
  background-color: lighten(mat-color($primaryPalette), 50%);
  font-weight: bold;

  .ag-row-hover {
    background-color: transparent;
  }

  &:hover {
    background-color: lighten(mat-color($primaryPalette), 40%);
  }
}

.ag-floating-bottom-viewport {
  background-color: lighten(mat-color($accentPalette), 30%);
  font-weight: bold;

  .ag-row-hover {
    background-color: transparent;
  }

  &:hover {
    background-color: lighten(mat-color($accentPalette), 20%);
  }
}
