@import "~angular-calendar/css/angular-calendar.css";
@import "styles/variables";
@import "styles/ag-grid";
@import "styles/material";
@import "styles/layout";

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@include create-layouts();
