@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-blue-gray);
$accentPalette:  mat-palette($mat-indigo, A200, A100, A400);

// the default warn palette is red, so use that if the theme doesn't define one
$warnPalette:    mat-palette($mat-red);

$gutter-width: 0.5rem;

$media-sm: sm 48em 46rem;
$media-md: md 62em 61rem;
$media-lg: lg 75em 71rem;

$breakpoints: $media-sm,
$media-md,
$media-lg;
