<header>
    <h3 mat-subheader>Rowing Toolbox</h3>
    <mat-icon svgIcon="toolbox"></mat-icon>
</header>
<mat-nav-list>
    <a mat-list-item [routerLink]="['training-speeds']">
        <mat-icon matListIcon svgIcon="calculator"></mat-icon>
        <h3 matLine>Training Speeds</h3>
    </a>
    <a mat-list-item [routerLink]="['sessions']">
        <mat-icon matListIcon svgIcon="notebook"></mat-icon>
        <h3 class="mat-body-2" matLine>Sessions</h3>
    </a>
    <a mat-list-item [routerLink]="['angle-plots']">
        <mat-icon matListIcon svgIcon="compass"></mat-icon>
        <h3 class="mat-body-2" matLine>Angle Plots</h3>
    </a>
</mat-nav-list>


